.logo__about {
  display: flex;
  margin: 3rem auto;
  width: 90%;
  justify-content: space-between;
}
.logo__image {
  width: 540px;
  height: 400px;
  display: flex;
  padding-top: 20px;
  align-self: center;
}
