.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: 3rem auto;
  width: 90%;
}

.banner__title {
  width: 500px;
  height: 144px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;

  background: linear-gradient(
      104.24deg,
      rgba(72, 106, 111, 0.2) 42.78%,
      rgba(91, 204, 222, 0.2) 91.91%
    ),
    #486a6f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.banner__description {
  width: 480px;
  height: 72px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;

  color: #678c92;
}
.btn__container {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 500px;
  height: 61px;
}

.btn__service {
  width: 118px;
  height: 61px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  text-align: center;

  color: #f4f7ff;

  background: linear-gradient(
      104.26deg,
      rgba(67, 151, 164, 0.2) 0.88%,
      rgba(91, 204, 222, 0.2) 99.89%
    ),
    #4397a4;
  border: #4397a4;
  box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
  border-radius: 5px;
}

.btn__about {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  align-items: center;
  text-align: center;

  color: #486a6f;
  width: 257px;
  height: 61px;

  background: #c6dbff;
  border: #c6dbff;
  border-radius: 5px;
}

.banner__images {
  display: grid;
  gap: 10px;
}

.banner__topimages {
  display: flex;
  gap: 10px;

  align-items: flex-end;
}
.banner__bottomimages {
  display: flex;
  gap: 10px;
}
