.information {
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 60px;
  position: relative;
}
.information__bg {
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../public/vectors/bg-banner.svg);
  z-index: -20;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
.information__title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #5bccde;
}

.information__description {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #486a6f;
}
.information__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.information__contact {
  display: flex;
  gap: 10px;
}
.information__subtitle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  color: #486a6f;
}

.information__number {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #486a6f;
  margin: 0;
}
.information__call {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  left: 2%;
  right: 72.21%;
  top: 0%;
  bottom: 0%;
  background: #e1ebfa;
  border-radius: 5px;
}
.information__info {
  display: flex;
  flex-direction: column;
}
.information__container {
  display: flex;
  margin: 3rem auto;
  width: 80%;

  justify-content: space-between;
}
.information__fill {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  gap: 10px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  filter: drop-shadow(0px 30px 60px rgba(59, 130, 246, 0.25));

  background: linear-gradient(42.43deg, #c6dbff 0%, #e1ebfa 52.25%);
  border-radius: 5px;
}
.information__inputtop {
  display: flex;
  gap: 5px;
}
.information__labeled {
  display: flex;
  flex-direction: column;
}
.information__label {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #678c92;
}
.information__input {
  box-sizing: border-box;
  background: transparent;
  height: 40px;
  border: 1px solid #486a6f;
  border-radius: 3px;
}
.information__area {
  box-sizing: border-box;
  background: transparent;
  height: 90px;
  border: 1px solid #486a6f;
  border-radius: 3px;
}
.information__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 55px;
  gap: 10px;
  color: white;
  left: 8.74%;
  right: 8.25%;
  top: 82.87%;
  bottom: 6.89%;
  background: linear-gradient(
      104.26deg,
      rgba(67, 151, 164, 0.2) 0.88%,
      rgba(91, 204, 222, 0.2) 99.89%
    ),
    #4397a4;
  border: #4397a4;
  border-radius: 5px;
}
