.feature {
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 60px;
  position: relative;
}
.feature__bg {
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../public/vectors/bg-banner.svg);
  z-index: -20;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

.feature__about {
  display: flex;
  margin: 3rem auto;
  width: 90%;
  justify-content: space-between;
}

.feature__title {
  width: 500px;
  height: 32px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  color: #5bccde;
}

.feature__subject {
  width: 500px;
  height: 96px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #486a6f;
}

.feature__description {
  width: 480px;
  height: 224px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  color: #678c92;
}

.feature__btn {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #f4f7ff;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  width: 169px;
  height: 42px;
  background: #4397a4;
  border-radius: 5px;
  border: #4397a4;
}
.feature__images {
  display: grid;
  gap: 10px;
}
.feature__image {
  display: flex;
  gap: 10px;

  align-items: flex-end;
}
.feature__image2 {
  display: flex;
  gap: 10px;

  align-items: flex-start;
}
.pic1 {
  width: 232px;
  height: 205px;
  left: 17px;
  top: 97px;
}
.pic2 {
  width: 194px;
  height: 260px;
  left: 55px;
  top: 331px;
}
.pic3 {
  width: 243px;
  height: 331px;
  left: 279.5px;
  top: 0px;
}
.pic4 {
  width: 215px;
  height: 135px;
  left: 279px;
  top: 361px;
}
