.footer {
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 60px;
  background: linear-gradient(
      84.81deg,
      rgba(72, 106, 111, 0.2) 0%,
      rgba(67, 151, 164, 0.2) 100%
    ),
    #486a6f;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  width: 90%;
}
.footer__logo {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #f4f7ff;
}
.footer__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__item {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  list-style: none;
  color: #f4f7ff;
  align-items: flex-start;
}
.footer__itemserve {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  list-style: none;
  color: #f4f7ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}
.footer__social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer__paragraph {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  list-style: none;
  color: #f4f7ff;
  display: flex;
  justify-content: center;
}
