.logo {
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 60px;
  position: relative;
}
.bg {
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../public/vectors/bg-logo.svg);
  z-index: -20;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
.logo__container {
  /* margin: 3rem auto;
  width: 90%;
  max-width: 40rem; */
  margin: auto;
}
/* .logos {
  display: flex;

  gap: 40px;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.logo__border {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 99.06%;
  margin: 3rem auto;
  width: 90%;
  background: #678c92;
} */

.logo__about {
  display: flex;
  margin: 3rem auto;
  width: 90%;
  justify-content: space-between;
}
.logo__image {
  width: 540px;
  height: 400px;
  display: flex;
  padding-top: 20px;
  align-self: center;
}

.logo__title {
  width: 500px;
  height: 32px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  color: #5bccde;
}

.logo__subject {
  width: 500px;
  height: 96px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #486a6f;
}

.logo__description {
  width: 480px;
  height: 224px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  color: #678c92;
}

.logo__btn {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #f4f7ff;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  width: 169px;
  height: 42px;
  background: #4397a4;
  border-radius: 5px;
  border: #4397a4;
}
