.logos {
  display: flex;

  gap: 40px;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.logo__border {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 99.06%;
  margin: 3rem auto;
  width: 90%;
  background: #678c92;
}
