.logo__title {
  width: 500px;
  height: 32px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  color: #5bccde;
}

.logo__subject {
  width: 500px;
  height: 96px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #486a6f;
}

.logo__description {
  width: 480px;
  height: 224px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  color: #678c92;
}
